* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	color:#000;
	font-family:sans-serif;
	font-size:14px;
}

#container{
	background-color: #edf6f9;
	width:70%;
	margin:20px auto;
	overflow:auto;
	padding:25px;
	box-shadow: 0 0 0.5rem #2f2f2f;
}

span{
	margin-left: 5rem;
}
a {
	text-decoration: none;
	font-size:20px;
}
a:hover {
    color: #000;
}

header{
	text-align:center;
	border-bottom:rgb(0, 0, 0) dashed 1px;
	margin-bottom: 10px;
}

 h1{
	text-align:center;
	margin:0;
	padding-top:20px;
}

header p{
	margin-bottom:5px;
	color: #000;
	font-size:20px;
	font-family: monospace;
}

section{
	min-height:400px;
}

footer{
	text-align:center;
	margin-top: 15px;;
}

input[type='submit']{
	background:#f06226;
	border:0;
	color:#fff;
	padding:10px 15px;
	cursor:pointer;
}

input[type='submit']:hover{
	color: black;
}

#results h3{
	background:#90e0ef;
	padding:10px;
	margin:10px 0;
}

#results span{
	color:#000;
	font-weight:bold;
}