* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    overflow: hidden;
    background-color: #f1f1f1;
    transition: 0.4s; 
    position: fixed; 
    width: 100%;
    top: 0;
    z-index: 99;
}
ul {
    background-color: #ba181b;
    float: right;
    width: 100%;
    text-align: center;
    position: fixed;
    height: 5rem;
}

 ul li {
    display:inline-block;
    padding: 1.5rem .5rem;
    color:#f1f1f1;
    text-decoration: none; 
}

.nav a:hover{
    background-color: #c44536;
    padding:10px;
    border-radius: 5px;
    border: 0.5px dashed;
}

span {
    font-size: 20px;
    font-weight: bold;
    margin-right: 5rem;
}


.container {
    background-color:#fff;
    box-shadow: 0 0 1.2rem #2f2f2f;
    margin-top: 10rem;
    height: 26rem;
    width: 100%;
    }

.matter-wrapper {
    display:flex;
}

.matter , .matterimg {
    flex-basis: 50%;
}


.matter , .matterimg{
    background-color: #ba181b;
    width: 100%;
    height: 45vh;
    margin-top: 3px;
    box-shadow: 0 0 0.2rem #2f2f2f;
    margin-left: 10px;
    
} 
.matter{
    margin-right: 10px;
}

.matterimg img {
    width: 15Vw;
    height:15vh;
    margin-left: 10rem;
    margin-top: 10%;
    filter: 0 0 1.2rem #2f2f2f;
}

.matterimg  p {
    text-align: center;
    font-size: 20px;
}
.matterimg h3 {
    margin-top: 10px;
}
h3 {
    text-align: center;
    padding-top: 10px;
}

ol {
    padding: 2rem;
    font-size: 20px; 
}

.matter button {
    margin-left: 12.5rem;
}

button a {
   text-decoration:none;
   color:#fff;
}

button a:hover {
    color: #000;
    text-decoration:none;
}





/* mobiles*/
@media (max-width: 480px){
    .nav ul li {
        display: block;
    }
    .nav ul {
        height: auto;
    }
    .container{
        height:50rem;
        margin-top: 20rem;
        padding-left: 2rem;
    }
    .matter-wrapper {
        display:block;
    }
    .matter , .matterimg{
        background-color: #ba181b;
        margin-top: 20px;
        margin-left: 1.5px;
    }
}

@media (min-width:481px) and (max-width: 768px){
    .nav ul li {
        display: block;
    }
    .nav ul {
        height: auto;
    }
    .container {
        margin-top: 20rem;
    }
    .matter , .matterimg{
        background-color: #ba181b;
        width: 10px; 
        height: 46vh;
    }

    ol {
        font-size: 15px; 
    }
    .matter button {
        margin-left: 5rem;
        margin-bottom:5px;
    }
    .matterimg h3  {
     font-size: 20px;
    }
    .matterimg p  {
        font-size: 18px;
       }
    .matterimg img {
        margin-left: 4.5rem;
       margin-top: 10%;
    }
}


/* tablets*/

@media (min-width:769px) and (max-width: 1024px) {
    .matter , .matterimg{
        background-color: #ba181b;
        width: 10px; 
        height: 48vh;
    }
    .matter button {
        margin-left: 7rem;
    }
    .matterimg img {
        margin-left: 6rem;
    }
}